<template>
  <v-card :loading="$apollo.loading">
    <v-card-title>{{ $t('common.plans') }}</v-card-title>
    <v-data-table
      v-model="selected"
      show-select
      :headers="headers"
      :server-items-length="totalCount"
      :items="items"
      :loading="$apollo.loading"
      @update:page="page = $event"
      @update:items-per-page="perPage = $event"
    >
      <template v-slot:top>
        <v-toolbar elevation="0">
          <v-btn color="secondary" link :to="'/plan/edit/new?eventId=' + $route.params.id">
            <v-icon>add</v-icon>{{ $t('common.add') }}
          </v-btn>
          <!-- <v-btn color="secondary" outlined class="ml-2" :disabled="tasksSelected.length === 0">
            <v-icon>remove</v-icon>{{ $t('common.remove') }}
          </v-btn> -->
        </v-toolbar>
      </template>
      <template #item.name="{ item }">
        <nuxt-link :to="'/plan/' + item.id + '?eventId=' + $route.params.id">
          {{ item.name }}
        </nuxt-link>
      </template>
      <template #item.author="{ item }">
        {{ item.author.fname + ' ' + item.author.lname }}
      </template>
    </v-data-table>
    <v-snackbar v-model="snack">
      {{ $t('common.savedSuccessfully') }}
    </v-snackbar>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'

export default Vue.extend({
  data (): any {
    return {
      snack: false,
      valueForDialog: null,
      dialog: false,
      page: 0,
      perPage: 10,
      items: [],
      totalCount: 0,
      selected: [],
      headers: [
        {
          text: this.$t('common.name'),
          align: 'start',
          value: 'name'
        },
        {
          text: this.$t('common.author'),
          value: 'author'
        }
      ]
    }
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
        query ($eventId: Long!, $page: Int!, $count: Int!) {
          planTotal(eventId: $eventId)
          planFindAllByEventId(eventId: $eventId, page: $page, count: $count) {
            id
            name
            author {
              id
              fname
              lname
            }
          }
        }`,
      variables: {
        eventId: parseInt(this.$route.params.id),
        page: this.page,
        count: this.perPage
      }
    }).then((resp: ApolloQueryResult<any>) => {
      this.totalCount = resp.data.planTotal
      this.items = resp.data.planFindAllByEventId
    })
  },
  methods: {

  }
})
</script>
