<template>
  <v-card :loading="$apollo.loading">
    <v-card-title>{{ $t('common.resources') }}</v-card-title>
    <v-data-table
      v-model="selected"
      show-select
      :headers="headers"
      :server-items-length="totalCount"
      :items="items"
      :loading="$apollo.loading"
      @update:page="page = $event"
      @update:items-per-page="perPage = $event"
    >
      <template v-slot:top>
        <v-toolbar elevation="0">
          <v-btn color="secondary" @click="dialog = true">
            <v-icon>add</v-icon>{{ $t('common.add') }}
          </v-btn>
          <v-btn color="secondary" outlined class="ml-2" :disabled="selected.length === 0">
            <v-icon>remove</v-icon>{{ $t('common.remove') }}
          </v-btn>
        </v-toolbar>
      </template>
      <template #item.name="{ item }">
        <a @click="valueForDialog = item; dialog = true">
          {{ item.name }}
        </a>
      </template>
      <template #item.type="{ item }">
        {{ !!item.type ? item.type.name : '' }}
      </template>
      <template #item.assignee="{ item }">
        {{ !!item.assignee ? item.assignee.fname + ' ' + item.assignee.lname : $t('events.noAssignee') }}
      </template>
    </v-data-table>
    <resource-dialog
      :visible="dialog"
      :value="valueForDialog"
      @visibility="dialog = $event; valueForDialog = null"
      @input="addOrUpdate"
    />
    <v-snackbar v-model="snack">
      {{ $t('common.savedSuccessfully') }}
    </v-snackbar>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'
import ResourceDialog from './resource-dialog.vue'

export default Vue.extend({
  components: {
    ResourceDialog
  },
  data (): any {
    return {
      snack: false,
      valueForDialog: null,
      dialog: false,
      page: 0,
      perPage: 10,
      items: [],
      totalCount: 0,
      selected: [],
      headers: [
        {
          text: this.$t('common.name'),
          align: 'start',
          value: 'name'
        },
        {
          text: this.$t('common.type'),
          value: 'type'
        },
        {
          text: this.$t('common.requirements'),
          value: 'requirements'
        },
        {
          text: this.$t('events.assignee'),
          value: 'assignee'
        }
      ]
    }
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
        query ($eventId: Long!, $page: Int!, $count: Int!) {
          resourcesTotal(eventId: $eventId)
          resourceFindAll(eventId: $eventId, page: $page, count: $count) {
            id
            name
            requirements
            resolution
            state
            budget
            assignee {
              id
              email
              fname
              lname
            }
            type {
              id
              name
            }
          }
        }`,
      variables: {
        eventId: parseInt(this.$route.params.id),
        page: this.page,
        count: this.perPage
      }
    }).then((resp: ApolloQueryResult<any>) => {
      this.totalCount = resp.data.resourcesTotal
      this.items = resp.data.resourceFindAll
    })
  },
  methods: {
    addOrUpdate (item: any): void {
      this.snack = true
      let found: number = -1
      this.items.forEach((element: any, index: number) => {
        if (element.id === item.id) {
          found = index
        }
      })
      if (found < 0) {
        this.items.push(item)
      } else {
        this.items[found] = item
      }
    }
  }
})
</script>
