<template>
  <v-dialog :value="visible" max-width="800px" @input="$emit('visibility', $event)">
    <v-card>
      <v-card-title>{{ $t('events.resource') }}</v-card-title>
      <v-card-text>
        <v-form v-model="formValid">
          <v-row>
            <v-col sm="12" md="6">
              <v-text-field
                v-model="name"
                outlined
                :label="$t('common.title')"
              />
            </v-col>
            <v-col sm="12" md="6">
              <v-text-field
                v-model="requirements"
                outlined
                :label="$t('common.requirements')"
              />
            </v-col>
            <v-col sm="12" md="6">
              <v-text-field
                v-model="budget"
                outlined
                :label="$t('events.budget')"
                type="number"
              />
            </v-col>
            <v-col sm="12" md="6">
              <v-text-field
                v-model="resolution"
                outlined
                :label="$t('common.resolution')"
              />
            </v-col>
            <v-col sm="12" md="6">
              <v-combobox
                v-model="assignee"
                outlined
                :label="$t('events.assignee')"
                :items="allUsers"
                item-text="email"
                item-value="id"
              />
            </v-col>
            <v-col sm="12" md="6">
              <v-combobox
                v-model="type"
                outlined
                :label="$t('common.type')"
                :items="allTypes"
                item-text="name"
                item-value="id"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text color="secondary" @click="$emit('visibility', false)">
          {{ $t('common.cancel') }}
        </v-btn>
        <v-btn color="secondary" :disabled="!formValid" @click="save">
          {{ $t('common.save') }}
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="snackError" color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'

export default Vue.extend({
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    value: {
      type: Object,
      default: null
    }
  },
  data (): any {
    return {
      snack: false,
      snackError: false,
      errorMessage: '',
      formValid: false,
      name: '',
      requirements: '',
      resolution: '',
      assignee: null,
      type: {
        id: 0,
        name: ''
      },
      budget: 0.0,
      allUsers: []
    }
  },
  watch: {
    value (newVal, _) {
      this.name = newVal ? newVal.name : ''
      this.requirements = newVal ? newVal.requirements : ''
      this.resolution = newVal ? newVal.resolution : ''
      this.type = newVal ? newVal.type : ''
      this.budget = newVal ? newVal.budget : ''
      this.assignee = newVal ? newVal.assignee : null
    }
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
        query{
          userFindAll(page: 0, count: 100) {
            id
            email
            fname
            lname
            roles {
              id
              name
            }
          }
          resourceTypeFindAll {
            id
            name
            description
          }
        }`
    }).then((resp: ApolloQueryResult<any>) => {
      this.allUsers = resp.data.userFindAll
      this.allTypes = resp.data.resourceTypeFindAll
    })
  },
  methods: {
    save (): void {
      if (typeof this.type === 'string') {
        this.type = {
          id: 0,
          name: this.type,
          description: this.type
        }
      }
      this.$apollo.mutate({
        mutation: gql`
          mutation ($eventId: Long!, $resource: ResourcePlainInput!) {
            resourceSave(eventId: $eventId, resource: $resource) {
              id
              name
              requirements
              resolution
              state
              budget
              assignee {
                id
                email
                fname
                lname
              }
              type {
                id
                name
                description
              }
              }
            }`,
        // Parameters
        variables: {
          eventId: parseInt(this.$route.params.id),
          resource: {
            id: this.value ? this.value.id : 0,
            name: this.name,
            eventId: parseInt(this.$route.params.id),
            requirements: this.requirements,
            resolution: this.resolution,
            assignee: this.assignee,
            budget: this.budget,
            type: this.type
          }
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.snack = true
        this.$emit('input', resp.data.resourceSave)
        this.$emit('visibility', false)
      }).catch((error: any) => {
        this.snackError = true
        this.errorMessage = error
      })
    }
  }
})
</script>
