<template>
  <v-dialog :value="visible" max-width="800px" @input="$emit('visibility', $event)">
    <v-card>
      <v-card-title>{{ $t('events.task') }}</v-card-title>
      <v-card-text>
        <v-form v-model="formValid">
          <v-row>
            <v-col sm="12" md="6">
              <v-text-field
                v-model="name"
                outlined
                :label="$t('common.title')"
              />
            </v-col>
            <v-col sm="12" md="6">
              <v-text-field
                v-model="description"
                outlined
                :label="$t('common.description')"
              />
            </v-col>
            <v-col sm="12" md="6">
              <v-combobox
                v-model="assignee"
                :label="$t('events.assignee')"
                outlined
                :items="allUsers"
                item-text="email"
                item-value="id"
              />
            </v-col>
            <v-col sm="12" md="6">
              <v-combobox
                v-model="resource"
                outlined
                :label="$t('events.resource')"
                :items="allResources"
                item-text="name"
                item-value="id"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text color="secondary" @click="$emit('visibility', false)">
          {{ $t('common.cancel') }}
        </v-btn>
        <v-btn color="secondary" :disabled="!formValid" @click="save">
          {{ $t('common.save') }}
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="snackError" color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'

export default Vue.extend({
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    value: {
      type: Object,
      default: null
    }
  },
  data (): any {
    return {
      snack: false,
      snackError: false,
      errorMessage: '',
      formValid: false,
      name: '',
      description: '',
      assignee: null,
      resource: null,
      allResources: [],
      allUsers: []
    }
  },
  watch: {
    value (newVal, _) {
      this.name = newVal ? newVal.name : ''
      this.description = newVal ? newVal.description : ''
      this.assignee = newVal ? newVal.assignee : null
      this.resource = newVal ? newVal.resource : null
    }
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
        query{
          userFindAll(page: 0, count: 100) {
            id
            email
            fname
            lname
            roles {
              id
              name
            }
          }
        }`
    }).then((resp: ApolloQueryResult<any>) => {
      this.allUsers = resp.data.userFindAll
    })
  },
  methods: {
    save (): void {
      this.$apollo.mutate({
        mutation: gql`
          mutation ($eventId: Long!, $task: TaskPlainInput!) {
            taskSave(eventId: $eventId, task: $task) {
              id
              name
              description
              state
              assignee {
                id
                email
                fname
                lname
              }
              resource {
                id
              }
            }
          }`,
        // Parameters
        variables: {
          eventId: parseInt(this.$route.params.id),
          task: {
            id: this.value ? this.value.id : 0,
            name: this.name,
            description: this.description,
            assignee: this.assignee,
            resource: this.resource
          }
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.snack = true
        this.$emit('input', resp.data.taskSave)
        this.$emit('visibility', false)
      }).catch((error: any) => {
        this.snackError = true
        this.errorMessage = error
      })
    }
  }
})
</script>
