<template>
  <v-sheet>
    <v-row>
      <v-col>
        <v-card class="main-info-card" :loading="$apollo.loading">
          <v-card-title>
            {{ $t('events.commonEventInfo') }}
          </v-card-title>
          <v-card-text>
            <v-row v-if="!!item">
              <v-col sm="12" md="6">
                <v-list-item two-line class="px-0">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('common.title') }}</v-list-item-title>
                    <v-list-item-subtitle>{{ item.name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item two-line class="px-0">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('events.plannedMembersCount') }}</v-list-item-title>
                    <v-list-item-subtitle>{{ item.plannedMembersCount }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item two-line class="px-0">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('events.budget') }}</v-list-item-title>
                    <v-list-item-subtitle>{{ item.budget }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
              <v-col sm="12" md="6">
                <v-list-item two-line class="px-0">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('common.sportType') }}</v-list-item-title>
                    <v-list-item-subtitle>{{ item.sportType.name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item two-line class="px-0">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('date.startDateTime') }}</v-list-item-title>
                    <v-list-item-subtitle>{{ item.startDate.format('LL LT') }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item two-line class="px-0">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t('date.endDateTime') }}</v-list-item-title>
                    <v-list-item-subtitle>{{ item.endDate.format('LL LT') }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-btn text color="secondary">
              {{ $t('events.budgetDetails') }}
            </v-btn>
            <v-spacer />
            <v-btn text color="secondary" link :to="'/event/edit/' + $route.params.id" replace>
              {{ $t('common.edit') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col sm="12" md="6">
        <v-card :loading="$apollo.loading">
          <v-card-title>{{ $t('events.orgComission') }}</v-card-title>
          <v-data-table v-if="!!item" v-model="comissionSelected" show-select :headers="comissionHeaders" :items="item.organizingCommittee">
            <template v-slot:top>
              <v-toolbar elevation="0">
                <user-selector @select="addUserToCommittee" />
                <v-btn color="secondary" outlined class="ml-2" :disabled="comissionSelected.length === 0" @click="removeUsersFromCommittee">
                  <v-icon>remove</v-icon>{{ $t('common.remove') }}
                </v-btn>
              </v-toolbar>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
      <v-col sm="12" md="6">
        <tasks-table v-if="!!item" v-model="item.tasks" />
      </v-col>
      <v-col sm="12" md="6">
        <resources-table />
      </v-col>
      <v-col sm="12" md="6">
        <plans-table />
      </v-col>
      <v-col sm="12" md="6">
        <v-card>
          <v-card-title>{{ $t('common.organizators') }}</v-card-title>
          <v-data-table v-model="organizatorsSelected" show-select :headers="organizatorsHeaders">
            <template v-slot:top>
              <v-toolbar elevation="0">
                <v-btn color="secondary">
                  <v-icon>add</v-icon>{{ $t('common.add') }}
                </v-btn>
                <v-btn color="secondary" outlined class="ml-2" :disabled="organizatorsSelected.length === 0">
                  <v-icon>remove</v-icon>{{ $t('common.remove') }}
                </v-btn>
              </v-toolbar>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
      <v-col sm="12" md="6">
        <v-card>
          <v-card-title>{{ $t('common.volunteers') }}</v-card-title>
          <v-data-table v-model="volunteersSelected" show-select :headers="volunteersHeaders">
            <template v-slot:top>
              <v-toolbar elevation="0">
                <v-btn color="secondary">
                  <v-icon>add</v-icon>{{ $t('common.add') }}
                </v-btn>
                <v-btn color="secondary" outlined class="ml-2" :disabled="volunteersSelected.length === 0">
                  <v-icon>remove</v-icon>{{ $t('common.remove') }}
                </v-btn>
              </v-toolbar>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-snackbar v-model="snack">
      {{ $t('common.savedSuccessfully') }}
    </v-snackbar>
    <v-snackbar v-model="snackError" color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'
import { getRules } from '~/common/validators'
import TasksTable from '~/components/event/tasks-table.vue'
import PlansTable from '~/components/event/plans-table.vue'
import ResourcesTable from '~/components/event/resources-table.vue'

export default Vue.extend({
  components: {
    TasksTable,
    PlansTable,
    ResourcesTable
  },
  data (): any {
    return {
      snack: false,
      snackError: false,
      errorMessage: '',
      item: null,
      rules: getRules(this),
      comissionSelected: [],
      comissionHeaders: [
        {
          text: this.$t('common.name'),
          align: 'start',
          value: 'fname'
        },
        {
          text: this.$t('common.familyName'),
          align: 'start',
          value: 'lname'
        },
        {
          text: this.$t('login.email'),
          align: 'start',
          value: 'email'
        }
      ],
      resourcesSelected: [],
      resourcesHeaders: [
        {
          text: this.$t('common.name'),
          align: 'start',
          value: 'name'
        }
      ],
      plansSelected: [],
      plansHeaders: [
        {
          text: this.$t('common.name'),
          align: 'start',
          value: 'name'
        }
      ],
      organizatorsSelected: [],
      organizatorsHeaders: [
        {
          text: this.$t('common.name'),
          align: 'start',
          value: 'name'
        }
      ],
      volunteersSelected: [],
      volunteersHeaders: [
        {
          text: this.$t('common.name'),
          align: 'start',
          value: 'name'
        }
      ]
    }
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
        query{
          userFindAll(page: 0, count: 100) {
            id
            email
            fname
            lname
            roles {
              id
              name
            }
          }
        }`
    }).then((resp: ApolloQueryResult<any>) => {
      this.allUsers = resp.data.userFindAll
    })
    this.$apollo.query({
      query: gql`
          query ($id: Long!) {
            eventFindById(id: $id) {
              id
              name
              sportType {
                id
                name
              }
              plannedMembersCount
              budget
              startDate
              endDate
              organizingCommittee {
                id
                email
                fname
                lname
                roles {
                  id
                  name
                }
              }
            }
          }`,
      variables: {
        id: parseInt(this.$route.params.id)
      }
    }).then((resp: ApolloQueryResult<any>) => {
      this.item = {
        ...resp.data.eventFindById,
        startDate: this.$moment(resp.data.eventFindById.startDate, 'yyyy-MM-DD HH:mm:ss'),
        endDate: this.$moment(resp.data.eventFindById.endDate, 'yyyy-MM-DD HH:mm:ss')
      }
    })
  },
  created (): void {
    this.$appbar.setTitle(this.$t('events.event'))
  },
  methods: {
    addUserToCommittee (user: any): void {
      if (this.item.organizingCommittee.filter((item: any) => item.id === user.id).length === 0) {
        this.item.organizingCommittee.push(user)
        this.saveCommittee()
      }
    },
    removeUsersFromCommittee (): void {
      this.item.organizingCommittee = this.item.organizingCommittee.filter((item: any) => !this.comissionSelected.includes(item))
      this.comissionSelected = []
      this.saveCommittee()
    },
    saveCommittee (): void {
      this.$apollo.mutate({
        mutation: gql`mutation ($eventId: Long!, $committee: [UserReferenceInput!]!) {
          eventSetCommittee(eventId: $eventId, committee: $committee) {
            id
            email
            fname
            lname
          }
        }`,
        // Parameters
        variables: {
          eventId: parseInt(this.$route.params.id),
          committee: this.item.organizingCommittee
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.snack = true
        this.item.organizingCommittee = resp.data.eventSetCommittee
      }).catch((error: any) => {
        this.snackError = true
        this.errorMessage = error
      })
    }
  }
})
</script>
