<template>
  <v-sheet>
    <v-form v-model="mainInfoValid">
      <v-toolbar flat dense>
        <v-spacer />
        <v-btn color="secondary" outlined class="mx-4" @click="$router.go(-1)">
          {{ $t('common.cancel') }}
        </v-btn>
        <v-btn color="secondary" :disabled="!mainInfoValid" @click="save">
          {{ $t('common.save') }}
        </v-btn>
      </v-toolbar>
      <v-row>
        <v-col sm="12" md="6">
          <v-card :loading="$apollo.loading">
            <v-card-text v-if="!$apollo.loading">
              <v-text-field v-model="item.name" outlined :label="$t('common.title')" :rules="[rules.required]" />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
    <v-snackbar v-model="snack">
      {{ $t('common.savedSuccessfully') }}
    </v-snackbar>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'
import { getRules } from '~/common/validators'

export default Vue.extend({
  data (): any {
    return {
      snack: false,
      mainInfoValid: false,
      rules: getRules(this),
      item: {
        id: 0
      }
    }
  },
  computed: {
    password (): string {
      return this.item.password
    }
  },
  created (): void {
    this.$appbar.setTitle(this.$t('common.organization'))
  },
  mounted (): void {
    if (this.$route.params.id !== 'new') {
      this.$apollo.query({
        query: gql`
          query ($id: Long!) {
            organizationFindById(id: $id) {
              id
              name
            }
          }
        `,
        variables: {
          id: parseInt(this.$route.params.id)
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.item = resp.data.organizationFindById
      })
    }
  },
  methods: {
    save (): void {
      if (this.$route.params.id === 'new') {
        this.$apollo.mutate({
          mutation: gql`
            mutation organizationCreate($org: OrganizationInput!) {
              organizationCreate(organization: $org) {
                id
                name
              }
            }
          `,
          variables: {
            org: this.item
          }
        }).then((_resp: ApolloQueryResult<any>) => {
          this.snack = true
          this.$router.go(-1)
        })
      } else {
        this.$apollo.mutate({
          mutation: gql`
            mutation organizationupdate($org: OrganizationInput!) {
              organizationUpdate(organization: $org) {
                id
                name
              }
            }
          `,
          variables: {
            org: {
              id: this.item.id,
              name: this.item.name
            }
          }
        }).then((_resp: ApolloQueryResult<any>) => {
          this.snack = true
        })
      }
    }
  }
})
</script>
