<template>
  <v-container class="pb-0">
    <v-row align="center">
      <v-col cols="1">
        <v-checkbox
          v-model="value.completed"
          hide-details
          class="shrink mr-2 mt-0"
          @click="update"
        />
      </v-col>
      <v-col>
        <v-text-field
          v-if="edit"
          v-model="value.name"
          hide-details
          dense
          outlined
          :label="$t('common.title')"
          :rules="[rules.required]"
        />
        <v-list-item-content v-else class="py-0">
          <v-list-item-title>{{ value.name }}</v-list-item-title>
        </v-list-item-content>
      </v-col>
      <v-col v-if="edit" cols="1" class="d-flex flex-column justify-center">
        <v-btn color="error" text small @click="$emit('remove', value)">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="1" />
      <v-col>
        <v-combobox
          v-if="edit"
          v-model="value.assignee"
          :label="$t('events.assignee')"
          hide-details=""
          outlined
          dense
          :items="users"
          item-value="id"
          item-text="email"
        />
        <v-list-item-content v-else class="py-0">
          <v-list-item-title>{{ $t('events.assignee') }}</v-list-item-title>
          <v-list-item-subtitle>{{ value.assignee ? value.assignee.email : $t('events.noAssignee') }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-col>
      <v-col>
        <v-combobox
          v-if="edit"
          hide-details=""
          outlined
          dense
          multiple
          :label="$t('common.resources')"
        />
        <v-list-item-content v-else class="py-0">
          <v-list-item-title>{{ $t('common.resources') }}</v-list-item-title>
          <v-list-item-subtitle>{{ value.resources ? value.resources.map((item) => {item.name}).join(', ') : $t('events.resourceNotAssigned') }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-col>
      <v-col>
        <v-text-field
          v-if="edit"
          v-model="value.spent"
          hide-details=""
          outlined
          dense
          :label="$t('events.spent')"
          type="number"
        />
        <v-text-field
          v-else
          v-model="value.spent"
          hide-details=""
          outlined
          dense
          :label="$t('events.spent')"
          type="number"
          append-icon="save"
          @click:append="update"
        />
      </v-col>
      <v-col v-if="edit" cols="1" class="d-flex flex-column justify-center">
        <v-btn color="secondary" text small @click="addSubItem">
          <v-icon>add</v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <v-row v-if="value.subItems && value.subItems.length > 0" class="pl-3">
      <check-list-item
        v-for="(child, i) in value.subItems"
        :key="level + '' + i"
        :value="child"
        :level="level + 1"
        :edit="edit"
        @remove="removeItem"
      />
    </v-row>
    <v-snackbar v-model="snack">
      {{ $t('common.savedSuccessfully') }}
    </v-snackbar>
    <v-snackbar v-model="snackError" color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'
import { getRules } from '~/common/validators'

export default Vue.extend({
  name: 'CheckListItem',
  props: {
    value: {
      type: Object,
      required: true
    },
    level: {
      type: Number,
      required: true
    },
    edit: {
      type: Boolean,
      default: true
    }
  },
  data (): any {
    return {
      snack: false,
      snackError: false,
      errorMessage: '',
      rules: getRules(this)
    }
  },
  computed: {
    users (): any[] {
      return this.$store.state.auth.users
    }
  },
  mounted (): void {
    if (this.$store.state.auth.users.length === 0) {
      this.$apollo.query({
        query: gql`
          query{
            userFindAll(page: 0, count: 100) {
              id
              email
              fname
              lname
              roles {
                id
                name
              }
            }
          }`
      }).then((resp: ApolloQueryResult<any>) => {
        this.$store.commit('auth/setUsers', resp.data.userFindAll)
      })
    }
  },
  methods: {
    update (): void {
      this.$apollo.mutate({
        mutation: gql`
        mutation ($item: PlainCheckListItemInput!) {
          checkListUpdate(item: $item) {
            completed
            spent
          }
        }`,
        // Parameters
        variables: {
          item: this.value
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.snack = true
        this.value.completed = resp.data.checkListUpdate.completed
        this.value.spent = resp.data.checkListUpdate.spent
      }).catch((error: any) => {
        this.snackError = true
        this.errorMessage = error
      })
    },
    addSubItem (): void {
      if (!this.value.subItems) {
        this.value.subItems = this.$set(this.value, 'subItems', [])
      }
      this.value.subItems.push({})
    },
    removeItem (toRemove: any): void {
      this.value.subItems = this.value.subItems.filter((item: any) => item !== toRemove)
    }
  }
})
</script>
