<template>
  <v-menu
    v-model="timeMenu"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        outlined
        :label="label"
        append-icon="schedule"
        readonly
        :value="!!value ? value.format(format) : null"
        v-on="on"
        @click:append.stop="timeMenu = true"
      />
    </template>
    <v-time-picker
      :value="!!value ? value.format('HH:mm') : null"
      :locale="$i18n.locale"
      @input="$emit('input', $moment($event, 'HH:mm'))"
    />
  </v-menu>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import moment from 'moment'

export default Vue.extend({
  props: {
    value: {
      type: Object as PropType<moment.Moment>,
      default: null
    },
    format: {
      type: String,
      default: 'LT'
    },
    label: {
      type: String,
      default: null
    }
  },
  data (): any {
    return {
      timeMenu: false
    }
  }
})
</script>

<style scoped>
.date-picker-value {
  height: 32px;
}
</style>
