<template>
  <v-menu v-model="visible" :close-on-content-click="false" @input="userToAdd = null">
    <template v-slot:activator="{ on }">
      <v-btn color="secondary" @click="addUser = true" v-on="on">
        <v-icon>add</v-icon>{{ $t('common.add') }}
      </v-btn>
    </template>
    <v-card min-width="300px">
      <v-card-text>
        <v-combobox v-model="userToAdd" :items="allUsers" item-text="email" item-value="id" />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn text color="primary" @click="fire">
          {{ $t('common.add') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>
<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'

export default Vue.extend({
  name: 'UserSelector',
  data (): any {
    return {
      visible: false,
      allUsers: [],
      userToAdd: null
    }
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
        query{
          userFindAll(page: 0, count: 100) {
            id
            email
            fname
            lname
            roles {
              id
              name
            }
          }
        }`
    }).then((resp: ApolloQueryResult<any>) => {
      this.allUsers = resp.data.userFindAll
    })
  },
  methods: {
    fire (): void {
      this.$emit('select', this.userToAdd)
      this.userToAdd = null
      this.visible = false
    }
  }
})
</script>
