<template>
  <v-app light>
    <v-navigation-drawer
      v-if="isAdmin"
      :value="drawer && isRoot"
      app
      temporary
      @input="drawer = $event"
    >
      <v-list>
        <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router exact>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar fixed app dark color="primary">
      <v-app-bar-nav-icon v-if="isRoot" color @click.stop="drawer = !drawer" />
      <v-btn v-if="!isRoot" icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>{{ $store.state.appbar.title }}</v-toolbar-title>
      <v-spacer />
      <client-only>
        <v-menu left bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              text
              v-bind="attrs"
              height="auto"
              :loading="$apollo.loading"
              v-on="on"
            >
              <v-list-item>
                <v-list-item-icon>
                  <v-avatar color="accent">
                    <span class="white--text headline">{{ !!me ? me.fname[0] + me.lname[0] : 'US' }}</span>
                  </v-avatar>
                </v-list-item-icon>
                <v-list-item-title>{{ !!me ? me.fname + ' ' + me.lname : '' }}</v-list-item-title>
                <v-list-item-action>
                  <v-icon>arrow_drop_down</v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-btn>
          </template>
          <v-list>
            <v-list-item>
              <v-list-item-content>User</v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>Logout</v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </client-only>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer app>
      <v-container class="d-flex justify-space-between">
        <span class="text-body-1">TheEvent - платформа для управления спортивными мероприятиями</span>
        <span class="text-body-2">&copy; 2020 Роман Аксененко, Салават Зайнуллин, Алексей Доровской</span>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'

export default Vue.extend({
  data () {
    return {
      drawer: false,
      items: [
        {
          title: 'Home',
          to: '/'
        },
        {
          title: 'Users',
          to: '/admin/users'
        },
        {
          title: 'Organizations',
          to: '/admin/organizations'
        }
      ]
    }
  },
  computed: {
    isRoot (): boolean {
      const vm = this
      return vm.$route.path === '/' || vm.items.filter((item: any) => item.to && item.to === vm.$route.path.replace(/\/$/, '')).length > 0
    },
    isAdmin (): boolean {
      return true
    }
  },
  apollo: {
    $prefetch: false,
    me: {
      query: gql`
        query me {
          me {
            id
            email
            fname
            lname
          }
        }
      `,
      result (resp: ApolloQueryResult<any>): void {
        this.$store.commit('auth/me', resp.data.me)
      }
    }
  }
})
</script>
