<template>
  <v-app light>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer app>
      <v-container class="d-flex justify-space-between">
        <span class="text-body-1">TheEvent - платформа для управления спортивными мероприятиями</span>
        <span class="text-body-2">&copy; 2020 Роман Аксененко, Салават Зайнуллин, Алексей Доровской</span>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({

})
</script>
