<template>
  <v-sheet>
    <v-data-table
      v-model="selected"
      show-select
      :headers="headers"
      :server-items-length="totalCount"
      :items="items"
      :loading="$apollo.loading"
      @update:page="page = $event"
      @update:items-per-page="perPage = $event"
    >
      <template v-slot:top>
        <v-toolbar elevation="0">
          <v-btn color="secondary" link to="/event/edit/new">
            <v-icon>add</v-icon>{{ $t('common.add') }}
          </v-btn>
          <v-btn color="secondary" outlined class="ml-2" :disabled="selected.length === 0">
            <v-icon>remove</v-icon>{{ $t('common.remove') }}
          </v-btn>
        </v-toolbar>
      </template>
      <template #item.name="{ item }">
        <nuxt-link :to="'/event/' + item.id">
          {{ item.name }}
        </nuxt-link>
      </template>
    </v-data-table>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'

export default Vue.extend({
  data (): any {
    return {
      page: 0,
      perPage: 10,
      selected: [],
      headers: [
        {
          text: this.$t('common.title'),
          align: 'start',
          value: 'name'
        },
        {
          text: this.$t('common.start'),
          value: 'startDate'
        },
        {
          text: this.$t('common.end'),
          value: 'endDate'
        },
        {
          text: this.$t('events.plannedMembersCount'),
          value: 'plannedMembersCount'
        },
        {
          text: this.$t('common.state'),
          value: 'state'
        }
      ],
      items: [],
      totalCount: 0
    }
  },
  created (): void {
    this.$appbar.setTitle(this.$t('events.nearestEvents'))
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
          query ($page: Int!, $count: Int!) {
            eventFindAll(page: $page, count: $count) {
              id
              name
              startDate
              endDate
              plannedMembersCount
              state
            }
            eventsTotal
          }
        `,
      variables: {
        page: this.page,
        count: this.perPage
      }
    }).then((resp: ApolloQueryResult<any>) => {
      this.items = resp.data.eventFindAll
      this.totalCount = resp.data.eventsTotal
    })
  }
})
</script>
