<template>
  <v-container class="d-flex justify-center">
    <v-card class="login-card">
      <v-card-title class="break-word">
        {{ $t('login.welcome') }}
      </v-card-title>
      <v-card-text>
        <v-text-field
          v-model="email"
          outlined
          :label="$t('login.email')"
          :rules="[rules.required, rules.email]"
        />
        <v-text-field
          v-model="password"
          outlined
          :label="$t('login.password')"
          :append-icon="showPwd ? 'visibility' : 'visibility_off'"
          :type="showPwd ? 'text' : 'password'"
          :rules="[rules.required, rules.min]"
          counter
          @click:append="showPwd = !showPwd"
        />
        <v-text-field
          v-if="signup"
          v-model="passwordConfirm"
          outlined
          :label="$t('login.passwordConfirm')"
          :append-icon="showPwd ? 'visibility' : 'visibility_off'"
          :type="showPwd ? 'text' : 'password'"
          :rules="[rules.required, rules.min, rules.matches]"
          counter
          @click:append="showPwd = !showPwd"
        />
      </v-card-text>
      <v-card-actions>
        <v-btn outlined color="secondary" @click="signup = !signup">
          {{ signup ? $t('login.backToSignin') : $t('login.signup') }}
        </v-btn>
        <v-spacer />
        <v-btn color="secondary" @click="authenticate">
          {{ signup ? $t('login.signup') : $t('login.signin') }}
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="snackError" color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { getRules } from '~/common/validators'
import { setToken } from '~/middleware/auth'

export default Vue.extend({
  layout: 'none',
  data (): any {
    return {
      snackError: false,
      errorMessage: '',
      signup: false,
      email: '',
      password: '',
      passwordConfirm: '',
      showPwd: false,
      rules: getRules(this)
    }
  },
  methods: {
    async authenticate (): Promise<void> {
      const resp = await this.$axios.$post('/auth', { username: this.email, password: this.password })
      if (resp.token) {
        setToken(this.$store, resp.token)
        this.$apolloHelpers.onLogin(resp.token)
        this.$router.push('/')
      } else {
        this.snackError = true
        this.errorMessage = this.$t('login.pleaseCheckUserNameAndPassword')
      }
    }
  }
})
</script>

<style scoped>
@media only screen and (max-width: 600px) {
  .login-card {
    width: 100%
  }
}

@media only screen and (min-width: 601px) {
  .login-card {
    width: 500px
  }
}

.break-word {
  word-break: break-word;
}
</style>
