<template>
  <v-sheet>
    <v-form v-model="mainInfoValid">
      <v-toolbar flat dense>
        <v-spacer />
        <v-btn color="secondary" outlined class="mx-4" @click="$router.go(-1)">
          {{ $t('common.cancel') }}
        </v-btn>
        <v-btn color="secondary" :disabled="!mainInfoValid" @click="save">
          {{ $t('common.save') }}
        </v-btn>
      </v-toolbar>
      <client-only>
        <v-card :loading="$apollo.loading">
          <v-card-text>
            <v-row>
              <v-col sm="12" md="6">
                <v-text-field v-model="item.fname" outlined :label="$t('common.name')" :rules="[rules.required]" />
                <v-text-field v-model="item.lname" outlined :label="$t('common.familyName')" :rules="[rules.required]" />
                <v-text-field v-model="item.email" :disabled="$route.params.id !== 'new'" outlined :label="$t('login.email')" :rules="[rules.required, rules.email]" />
                <v-select
                  v-model="item.organization"
                  outlined
                  :label="$t('common.organization')"
                  :items="organizations"
                  item-text="name"
                  item-value="id"
                  :disabled="$route.params.id !== 'new'"
                />
              </v-col>
              <v-col sm="12" md="6">
                <v-text-field
                  v-model="item.password"
                  outlined
                  :label="$t('login.password')"
                  :append-icon="showPwd ? 'visibility' : 'visibility_off'"
                  :type="showPwd ? 'text' : 'password'"
                  :rules="[rules.min]"
                  counter
                  @click:append="showPwd = !showPwd"
                />
                <v-text-field
                  v-model="passwordConfirm"
                  outlined
                  :label="$t('login.passwordConfirm')"
                  :append-icon="showPwd ? 'visibility' : 'visibility_off'"
                  :type="showPwd ? 'text' : 'password'"
                  :rules="[rules.min, rules.matches]"
                  counter
                  @click:append="showPwd = !showPwd"
                />
                <v-select
                  v-model="item.roles"
                  outlined
                  multiple
                  :label="$t('common.roles')"
                  :items="roles"
                  item-text="name"
                  item-value="id"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </client-only>
    </v-form>
    <v-snackbar v-model="snack">
      {{ $t('common.savedSuccessfully') }}
    </v-snackbar>
    <v-snackbar v-model="snackError" color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'
import { getRules } from '~/common/validators'

export default Vue.extend({
  data (): any {
    return {
      snack: false,
      snackError: false,
      errorMessage: '',
      mainInfoValid: false,
      rules: getRules(this),
      item: {
        id: 0
      },
      passwordConfirm: '',
      showPwd: false,
      organizations: [],
      roles: []
    }
  },
  computed: {
    password (): string {
      return this.item.password
    }
  },
  created (): void {
    this.$appbar.setTitle(this.$t('common.user'))
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
          query ($page: Int!, $count: Int!) {
            organizationFindAll(page: $page, count: $count) {
              id
              name
            }
            rolesAll {
              id
              name
            }
          }
        `,
      variables: {
        page: 0,
        count: 100
      }
    }).then((resp: ApolloQueryResult<any>) => {
      this.organizations = resp.data.organizationFindAll
      this.roles = resp.data.rolesAll
    })
    if (this.$route.params.id !== 'new') {
      this.$apollo.query({
        query: gql`
          query ($id: Long!, $page: Int!, $count: Int!) {
            userFindById(id: $id) {
              id
              fname
              lname
              email
              password
              organization
              roles
            }
            organizationFindAll(page: $page, count: $count) {
              id
              name
            }
            rolesAll {
              id
              name
            }
          }
        `,
        variables: {
          id: parseInt(this.$route.params.id),
          page: 0,
          count: 100
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.item = resp.data.userFindById
        this.item.password = '**********************'
        this.passwordConfirm = '**********************'
        this.organizations = resp.data.organizationFindAll
        this.roles = resp.data.rolesAll
      })
    }
  },
  methods: {
    save (): void {
      this.$apollo.mutate({
        mutation: gql`mutation ($user: PlainUserInput!) {
        userSave(user: $user) {
          id
          fname
          lname
          email
          roles
          organization
          password
        }
      }`,
        // Parameters
        variables: {
          user: {
            id: this.item.id,
            fname: this.item.fname,
            lname: this.item.lname,
            email: this.item.email,
            roles: this.item.roles,
            organization: this.item.organization,
            password: this.item.password
          }
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.snack = true
        this.item = resp.data.userSave
        this.item.password = '**********************'
        this.passwordConfirm = '**********************'
      }).catch((error: any) => {
        this.snackError = true
        this.errorMessage = error
      })
    }
  }
})
</script>
