<template>
  <v-sheet>
    <client-only>
      <v-data-table
        v-model="selected"
        show-select
        :headers="headers"
        :server-items-length="totalCount"
        :items="items"
        :loading="$apollo.loading"
        @update:page="page = $event"
        @update:items-per-page="perPage = $event"
      >
        <template v-slot:top>
          <v-toolbar elevation="0">
            <v-btn color="secondary" link to="/admin/users/new">
              <v-icon>add</v-icon>{{ $t('common.add') }}
            </v-btn>
            <v-btn color="secondary" outlined class="ml-2" :disabled="selected.length === 0">
              <v-icon>remove</v-icon>{{ $t('common.remove') }}
            </v-btn>
          </v-toolbar>
        </template>
        <template #item.roles="{ item }">
          {{ item.roles.map(item => $t('role.' + item.name)).join(', ') }}
        </template>
        <template #item.fname="{ item }">
          <nuxt-link :to="'/admin/users/' + item.id">
            {{ item.fname }}
          </nuxt-link>
        </template>
      </v-data-table>
    </client-only>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'

export default Vue.extend({
  data (): any {
    return {
      page: 0,
      perPage: 10,
      selected: [],
      headers: [
        {
          text: this.$t('common.name'),
          align: 'start',
          value: 'fname'
        },
        {
          text: this.$t('common.familyName'),
          align: 'start',
          value: 'lname'
        },
        {
          text: this.$t('common.roles'),
          value: 'roles'
        }
      ],
      items: [],
      totalCount: 0
    }
  },
  computed: {
  },
  created (): void {
    this.$appbar.setTitle(this.$t('common.users'))
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
          query ($page: Int!, $count: Int!) {
            userFindAll(page: $page, count: $count) {
              id
              fname
              lname
              roles {
                id
                name
              }
            }
            usersTotal
          }
        `,
      variables: {
        page: this.page,
        count: this.perPage
      }
    }).then((resp: ApolloQueryResult<any>) => {
      this.items = resp.data.userFindAll
      this.totalCount = resp.data.usersTotal
    })
  }
})
</script>
