<template>
  <v-sheet>
    <v-row v-if="checklist">
      <v-col sm="12" md="4">
        <v-card>
          <v-card-title>
            {{ checklist.name }}
          </v-card-title>
          <v-card-text>
            <v-list-item two-line class="px-0">
              <v-list-item-content>
                <v-list-item-title>{{ $t('common.author') }}</v-list-item-title>
                <v-list-item-subtitle>{{ checklist.author.fname + ' ' + checklist.author.lname }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="secondary" text link :to="'/plan/edit/' + $route.params.id" replace>
              {{ $t('common.edit') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col sm="12" md="8">
        <v-card>
          <v-card-text v-if="!!checklist.root">
            <check-list-item
              v-for="item in checklist.root.subItems"
              :key="item.id"
              :value="item"
              :edit="false"
              :level="0"
            />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'
import CheckListItem from '~/components/check-list-item.vue'

export default Vue.extend({
  components: {
    CheckListItem
  },
  data (): any {
    return {
      checklist: null
    }
  },
  mounted (): void {
    this.$apollo.query({
      query: gql`
        query ($id: Long!) {
          planFindById(id: $id) {
            id
            name
            author {
              id
              fname
              lname
              email
            }
            root {
              id
              subItems {
                id
              }
            }
          }
        }`,
      variables: {
        id: parseInt(this.$route.params.id)
      }
    }).then((resp: ApolloQueryResult<any>) => {
      this.checklist = resp.data.planFindById
      this.fetchSubItems(this.checklist.root)
    })
  },
  created (): void {
    this.$appbar.setTitle(this.$t('common.plan'))
  },
  methods: {
    fetchSubItems (parent: any): void {
      this.$apollo.query({
        query: gql`
        query ($id: Long!) {
          checkListFindSubItemsById(id: $id) {
            id
            name
            completed
            spent
            assignee {
              id
              fname
              lname
              email
            }
            subItems {
              id
            }
          }
        }`,
        variables: {
          id: parent.id
        }
      }).then((resp: ApolloQueryResult<any>) => {
        if (resp.data.checkListFindSubItemsById.length > 0) {
          resp.data.checkListFindSubItemsById.forEach((element: any) => {
            this.fetchSubItems(element)
          })
        }
        parent.subItems = resp.data.checkListFindSubItemsById
      })
    }
  }
})
</script>
