<template>
  <v-sheet>
    <v-form v-model="mainInfoValid">
      <v-toolbar flat dense>
        <v-spacer />
        <v-btn color="secondary" outlined class="mx-4" @click="$router.go(-1)">
          {{ $t('common.cancel') }}
        </v-btn>
        <v-btn color="secondary" :disabled="!mainInfoValid" @click="save">
          {{ $t('common.save') }}
        </v-btn>
      </v-toolbar>
      <v-row>
        <v-col>
          <client-only>
            <v-card class="main-info-card" :loading="$apollo.loading">
              <v-card-title>
                {{ $t('events.commonEventInfo') }}
              </v-card-title>
              <v-card-text>
                <v-row>
                  <v-col sm="12" md="6">
                    <v-text-field v-model="item.name" outlined :label="$t('common.title')" :rules="[rules.required]" />
                    <v-text-field v-model="item.sportType.name" outlined :label="$t('common.sportType')" :rules="[rules.required]" />
                    <v-text-field v-model="item.plannedMembersCount" outlined :label="$t('events.plannedMembersCount')" :rules="[rules.required]" type="number" />
                    <v-text-field v-model="item.budget" outlined :label="$t('events.budget')" type="number" />
                    <v-btn text color="secondary" right>
                      {{ $t('events.budgetDetails') }}
                    </v-btn>
                  </v-col>
                  <v-col sm="12" md="6">
                    <date-picker v-model="item.startDate" format="LL" :label="$t('date.startDate')" :rules="[rules.required]" />
                    <time-picker v-model="item.startDate" format="LT" :label="$t('date.startTime')" :rules="[rules.required]" />
                    <date-picker v-model="item.endDate" format="LL" :label="$t('date.endDate')" :rules="[rules.required]" />
                    <time-picker v-model="item.endDate" format="LT" :label="$t('date.endTime')" :rules="[rules.required]" />
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </client-only>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <v-card-title>{{ $t('events.orgComission') }}</v-card-title>
            <v-data-table v-model="comissionSelected" show-select :headers="comissionHeaders" :items="item.organizingCommittee">
              <template v-slot:top>
                <v-toolbar elevation="0">
                  <user-selector @select="addUserToCommittee" />
                  <v-btn color="secondary" outlined class="ml-2" :disabled="comissionSelected.length === 0" @click="removeUsersFromCommittee">
                    <v-icon>remove</v-icon>{{ $t('common.remove') }}
                  </v-btn>
                </v-toolbar>
              </template>
              <template #item.roles="{ item }">
                {{ item.roles.map(role => $t('role.' + role.name)).join(', ') }}
              </template>
            </v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
    <v-snackbar v-model="snack">
      {{ $t('common.savedSuccessfully') }}
    </v-snackbar>
    <v-snackbar v-model="snackError" color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'
import { getRules } from '~/common/validators'
import DatePicker from '~/components/date-picker.vue'
import TimePicker from '~/components/time-picker.vue'
import UserSelector from '~/components/user-selector.vue'

export default Vue.extend({
  components: {
    DatePicker,
    TimePicker,
    UserSelector
  },
  data (): any {
    return {
      snack: false,
      snackError: false,
      errorMessage: '',
      mainInfoValid: true,
      item: {
        id: 0,
        sportType: {
          id: 0,
          name: ''
        },
        organizingCommittee: []
      },
      rules: getRules(this),
      comissionSelected: [],
      comissionHeaders: [
        {
          text: this.$t('common.name'),
          align: 'start',
          value: 'fname'
        },
        {
          text: this.$t('common.familyName'),
          align: 'start',
          value: 'lname'
        },
        {
          text: this.$t('login.email'),
          align: 'start',
          value: 'email'
        },
        {
          text: this.$t('common.roles'),
          align: 'start',
          value: 'roles'
        }
      ]
    }
  },
  computed: {
    isNew (): boolean {
      return this.$route.params.id === 'new'
    }
  },
  created (): void {
    const title = this.isNew ? this.$t('events.newEvent') : this.$t('events.editEvent')
    this.$appbar.setTitle(title)
  },
  mounted (): void {
    if (this.$route.params.id !== 'new') {
      this.$apollo.query({
        query: gql`
          query ($id: Long!) {
            eventFindById(id: $id) {
              id
              name
              sportType {
                id
                name
              }
              plannedMembersCount
              budget
              startDate
              endDate
              organizingCommittee {
                id
                email
                fname
                lname
                roles {
                  id
                  name
                }
              }
            }
          }`,
        variables: {
          id: parseInt(this.$route.params.id)
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.item = {
          ...resp.data.eventFindById,
          startDate: this.$moment(resp.data.eventFindById.startDate, 'yyyy-MM-DD HH:mm:ss'),
          endDate: this.$moment(resp.data.eventFindById.endDate, 'yyyy-MM-DD HH:mm:ss')
        }
      })
    }
  },
  methods: {
    addUserToCommittee (user: any): void {
      if (this.item.organizingCommittee.filter((item: any) => item.id === user.id).length === 0) {
        this.item.organizingCommittee.push(user)
      }
    },
    removeUsersFromCommittee (): void {
      this.item.organizingCommittee = this.item.organizingCommittee.filter((item: any) => !this.comissionSelected.includes(item))
      this.comissionSelected = []
    },
    save (): void {
      this.$apollo.mutate({
        mutation: gql`mutation ($event: PlainEventInput!) {
          eventSave(event: $event) {
            id
            name
            sportType {
              id
              name
            }
            plannedMembersCount
            budget
            startDate
            endDate
            organizingCommittee {
              id
              email
              fname
              lname
              roles {
                id
                name
              }
            }
          }
        }`,
        // Parameters
        variables: {
          event: {
            ...this.item,
            startDate: this.item.startDate.format('yyyy-MM-DD HH:mm:ss'),
            endDate: this.item.endDate.format('yyyy-MM-DD HH:mm:ss')
          }
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.snack = true
        this.item = {
          ...resp.data.eventSave,
          startDate: this.$moment(resp.data.eventSave.startDate, 'yyyy-MM-DD HH:mm:ss'),
          endDate: this.$moment(resp.data.eventSave.endDate, 'yyyy-MM-DD HH:mm:ss')
        }
        this.$router.replace('/event/' + resp.data.eventSave.id)
      }).catch((error: any) => {
        this.snackError = true
        this.errorMessage = error
      })
    }
  }
})
</script>
