<template>
  <v-sheet>
    <v-form v-model="mainInfoValid">
      <v-toolbar flat dense>
        <v-spacer />
        <v-btn color="secondary" outlined class="mx-4" @click="$router.go(-1)">
          {{ $t('common.cancel') }}
        </v-btn>
        <v-btn color="secondary" :disabled="!mainInfoValid" @click="save">
          {{ $t('common.save') }}
        </v-btn>
      </v-toolbar>
      <v-row>
        <v-col sm="12" md="4">
          <v-card>
            <v-card-title>
              {{ $t('common.commonInfo') }}
            </v-card-title>
            <v-card-text>
              <v-row>
                <v-col>
                  <v-text-field v-model="checklist.name" outlined :label="$t('common.title')" :rules="[rules.required]" />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col sm="12" md="8">
          <v-card>
            <v-card-title>
              {{ $t('events.checklist') }}
            </v-card-title>
            <v-card-text>
              <check-list-item
                v-for="(item, i) in checklist.root.subItems"
                :key="i"
                :value="item"
                :level="0"
                @remove="removeItem"
              />
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn color="secondary" text class="mr-4" small @click="addRootItem">
                <v-icon>add</v-icon>{{ $t('common.add') }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
    <v-snackbar v-model="snack">
      {{ $t('common.savedSuccessfully') }}
    </v-snackbar>
    <v-snackbar v-model="snackError" color="error">
      {{ errorMessage }}
    </v-snackbar>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import gql from 'graphql-tag'
import { ApolloQueryResult } from 'apollo-client'
import { getRules } from '~/common/validators'
import CheckListItem from '~/components/check-list-item.vue'

export default Vue.extend({
  components: {
    CheckListItem
  },
  data (): any {
    return {
      snack: false,
      snackError: false,
      errorMessage: '',
      mainInfoValid: false,
      rules: getRules(this),
      checklist: {
        id: 0,
        root: {
          subItems: [],
          completed: false
        }
      }
    }
  },
  created (): void {
    this.$appbar.setTitle(this.$t('common.plan'))
  },
  mounted (): void {
    if (this.$route.params.id !== 'new') {
      this.$apollo.query({
        query: gql`
        query ($id: Long!) {
          planFindById(id: $id) {
            id
            eventId
            name
            author {
              id
              fname
              lname
              email
            }
            root {
              id
              subItems {
                id
              }
            }
          }
        }`,
        variables: {
          id: parseInt(this.$route.params.id)
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.checklist = resp.data.planFindById
        this.fetchSubItems(this.checklist.root)
      })
    }
  },
  methods: {
    addRootItem (): void {
      if (!this.checklist.root) {
        this.$set(this.checklist, 'root', {})
      }
      if (!this.checklist.root.subItems) {
        this.$set(this.checklist.root, 'subItems', [])
      }
      this.checklist.root.subItems.push({
        name: '',
        subItems: []
      })
    },
    removeItem (toRemove: any): void {
      this.checklist.root.subItems = this.checklist.root.subItems.filter((item: any) => item !== toRemove)
    },
    save (): void {
      if (!this.checklist.eventId) {
        this.checklist.eventId = parseInt(this.$route.query.eventId)
      }
      this.$apollo.mutate({
        mutation: gql`mutation ($eventId: Long!, $plan: PlainPlanInput!) {
          planSave(eventId: $eventId, plan: $plan) {
            id
            name
          }
        }`,
        // Parameters
        variables: {
          eventId: this.checklist.eventId ? this.checklist.eventId : parseInt(this.$route.query.eventId),
          plan: this.checklist
        }
      }).then((resp: ApolloQueryResult<any>) => {
        this.snack = true
        this.checklist = resp.data.planSave
        this.$router.replace('/plan/' + resp.data.planSave.id)
      }).catch((error: any) => {
        this.snackError = true
        this.errorMessage = error
      })
    },
    fetchSubItems (parent: any): void {
      this.$apollo.query({
        query: gql`
        query ($id: Long!) {
          checkListFindSubItemsById(id: $id) {
            id
            name
            completed
            spent
            assignee {
              id
              fname
              lname
              email
            }
            subItems {
              id
            }
          }
        }`,
        variables: {
          id: parent.id
        }
      }).then((resp: ApolloQueryResult<any>) => {
        if (resp.data.checkListFindSubItemsById.length > 0) {
          resp.data.checkListFindSubItemsById.forEach((element: any) => {
            this.fetchSubItems(element)
          })
        }
        parent.subItems = resp.data.checkListFindSubItemsById
      })
    }
  }
})
</script>
